/* typography */
h1, h2 {
    font-family: 'Abril Fatface', cursive;
    color: #cc99ff;
}

p, a {
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    color: #194d33;
}


/* layout */


/* media */